@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fonts.css";
@import "./sizes.css";

body {
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: "San Francisco Pro";
}
